aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
asgiref==3.8.1
attrs==25.4.0
billiard==4.2.3
celery==5.5.3
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.1
colorama==0.4.6
distlib==0.3.9
dj-database-url==3.1.0
Django==5.2.6
django-autocomplete-light==3.12.1
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-filter==25.2
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
filelock==3.18.0
frozenlist==1.8.0
gunicorn==23.0.0
idna==3.11
kombu==5.5.4
mercadopago==2.3.0
multidict==6.7.0
packaging==25.0
pillow==12.0.0
platformdirs==4.3.7
prompt_toolkit==3.0.52
propcache==0.4.1
psycopg2-binary==2.9.10
PyJWT==2.10.1
python-dateutil==2.9.0.post0
redis==7.1.0
reportlab==4.4.4
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
twilio==9.8.7
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
virtualenv==20.30.0
wcwidth==0.2.14
whitenoise==6.11.0
yarl==1.22.0
